footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    font-size: larger;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}